html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
  ​
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
  ​
body {
  line-height: 1;
}
  ​
ol, ul {
  list-style: none;
}
  ​
blockquote, q {
  quotes: none;
}
  ​
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}


html, body {
  width: 100%;
  height: 100%;
  overflow-y:hidden;
  overflow-x:hidden;
  // text-align: center;

  // user-select: none;
}

#name-prompt-overlay, #table-overlay {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(49, 49, 49, 0.5);
  z-index: 1;

  #name-prompt-container {
    position: absolute;
    width: 160px;
    height: 55px;

    top: 50%;
    right: 0;
    left: 0;

    margin: -50px auto;
    padding: 30px;
    background: #ffffff;
    z-index: 2;

    border-radius: 10px;
  }
}

#name-submit {
  position: absolute;
  top: 55%;
  left: 5%;
  cursor: pointer;
  padding:10px;
  border:none;
  background-color:#3F51B5;
  color:#fff;
  font-weight:600;
  border-radius:5px;
  width:90%;
  box-shadow: 5px 5px 8px #3F51B5;
}

#name-form {
  position: absolute;
  top: 0%;
  left: 3%;
  border: 25px;
  font-weight:600
}

input[type=text] {
  // position: auto;
  font-weight:600;
  padding: 10px;
  margin:10px 5px; // add top and bottom margin
  border-radius:10px;
  box-shadow: 5px 5px 8px rgba(89, 0, 255, 0.5);
}

#container {
  table {
    width: 100%;
    height: 100%;
    margin: auto;
    border-collapse: separate;
  }
}

#canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  outline: none;
  z-index: 0;

  background-color: rgba(49, 49, 49, 0.5);
  cursor: crosshair;
}

#leaderboard-container {
  position: fixed;
  // display: block;
  pointer-events: none;
  width: 15%;
  height: 30%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 247, 255, 0.287);
  z-index: 2;
  cursor: crosshair;
  user-select: none;
  text-align: center;
  color: #64ff76f1;
  font-weight:600;
  padding: 10px;
  margin:10px 5px; // add top and bottom margin
  border-radius:10px;
  box-shadow: 5px 5px 8px rgba(89, 0, 255, 0.1);
}

#spels-container {
  position: fixed;
  // display: block;
  pointer-events: none;
  width: 30%;
  height: 6%;
  top: 80%;
  left: 35%;
  bottom: 0;
  background-color: rgba(89, 0, 255, 0.2);
  z-index: 2;
  cursor: crosshair;
  user-select: none;
  // text-align: center;
  font-weight:600;
  padding: 15px;
  margin:5px 5px; // add top and bottom margin
  border-radius:10px;
  box-shadow: 5px 5px 8px rgba(93, 6, 255, 0.2)
}

#dash-img {
  float:left;
  width: 50px;
}

#dashCD0-img {
  float:left;
  width: 50px;
}

#dashCD1-img {
  float:left;
  width: 50px;
}

#dashCD2-img {
  float:left;
  width: 50px;
}

#dashCD3-img {
  float:left;
  width: 50px;
}

#cooldown-container {
  position: fixed;
  // display: block;
  pointer-events: none;
  width: 30%;
  height: 6%;
  top: 80%;
  left: 35%;
  bottom: 0;
  background-color: rgba(89, 0, 255, 0.2);
  z-index: 2;
  cursor: crosshair;
  user-select: none;
  // text-align: center;
  font-weight:600;
  padding: 15px;
  margin:5px 5px; // add top and bottom margin
  border-radius:10px;
  box-shadow: 5px 5px 8px rgba(93, 6, 255, 0.2)
}

#talantTree {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: default;
  user-select: none;
  // margin: 0 auto; padding: 0;
  background-color: rgba(0, 236, 194, 0);
  border: none;
  // border-radius: 5px;
}

tr {
  // background-color: rgba(0, 236, 194, 0.7);
  background-color: rgba(91, 91, 133, 0.69);
  cursor: pointer;
}

tbody {
  margin: 5px;
  padding: 15px;
  color: rgba(0, 236, 194, 0);
  background-color: rgba(0, 236, 194, 0);
}

td {
  padding: 15px;
  text-align: center;
}